.card {
  margin: 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.likeDiv {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.authorDiv {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 20px;
}

.postBtn {
  margin-left: 20px;
  background: none;
  border: none;
  padding: 0;
}
