.card {
  margin: 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.likeDiv {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.authorDiv {
  display: flex;
}

.btn {
  margin: 10px;
  background: none;
  border: none;
  padding: 0;
}
