.jumbotron {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.4) 50%,rgba(255,255,255,0.9) 100%), url(./../../assets/images/audience_1920.jpg);
  background-size: cover;
  font-size: 25px;
}