.nav-item {
  margin-right: 18px;
  
  a, button {
    color: white;

    &:hover {
      color: #9e9a9a;
      text-decoration: none;
    }
  }

  button {
    background: none;
    border: none;
    padding: 0;
  }
  
}